/*-- Variables --*/
/*--------- Fonts --*/
$default-fonts: 'Helvetica', sans-serif;
/*--------- Colors --*/
$skyblue:#82ccf1;
$mustard:#EFC66A;
$pink:#d8a6cb;
$deep-pink: #c171ac;
$pastel-purple:#6763b2;

/*-- Mixins --*/
@import './mixins/__mixins';

/*-- Primary Containers --*/
* {
	box-sizing: border-box;
}

html, body {
	padding:0;
	margin: 0;
	height: 100%;
	width: 100%;
	font-weight: 400;
	font-family: $default-fonts;
	font-display: optional;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html {
	overflow: hidden;
}

body {
	@include flexbox;
	@include flex-direction(column);
	@include flex-wrap(nowrap);
	@include justify-content(flex-start);
	@include align-items(stretch);
	@include align-content(stretch);
	background: #ebebeb;
}

/*-- Components --*/
/*--------- Header --*/
.header {
	@include flexbox;
	@include flex-direction(row);
	background: $pastel-purple;
	padding: 0px 16px;
	box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 2px 9px 1px rgba(0,0,0,0.12), 0 4px 2px -2px rgba(0,0,0,0.2);

	.header-title {
		font-size: 20px;
		color: white;
		@include flex-grow(1);
	}

	button {
		-webkit-appearance: none;
		border: 0px;
		background: rgba(0,0,0,0);
		outline: none;
		cursor: pointer;

		&:hover #refresh-icon,
		&:hover #header-add-icon {
			fill: $pink;
		}

		&:active #refresh-icon,
		&:active #header-add-icon {
			fill: $deep-pink;
		}
	}

	#refresh-icon {
		fill: white;
	}

	#header-add-icon {
		fill: white;
	}
}
/*--------- Loader --*/
.loader {
	top: 50%;
	left: 50%;
	position: fixed;
	@include transform(translate(-50%, -50%));
	#spinner {
		box-sizing: border-box;
		stroke: $skyblue;
		stroke-width: 3px;
		@include transform-origin(50%);
		@include animation(line 1.6s cubic-bezier(0.4, 0, 0.2, 1) infinite, rotate 1.6s linear infinite);
	}
}

